/* Font-family: 'Roboto', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: cadetblue;
    text-align: center;
}

nav {
    font: 16px 'Poppins', sans-serif;
    line-height: 27px;
    align-items: center;
    vertical-align: top;
    display: inline-block;
    max-width: 1440px;
}

.nav_ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;  
    padding: 30px 0;

}
.nav_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 15px;
    cursor: pointer;
}
.nav_link:hover {
    transition: all 0.3s;
    opacity: 0.2;
}

section {
    width: 100%;
    background-color: aliceblue;
    
    
}

.profile {
    padding: 30px 0;
}
    
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 300px;
    margin-right: 50px;
}
.names {
    margin-bottom: 30px;
}
.names h1 {
    font: 20px 'Poppins', sans-serif;
    border-bottom: 2px #000;
}

.names h2 {
    font: 16px 'Poppins', sans-serif;
}
.__info-items {
    list-style-type: none;
    font: 14px 'Poppins', sans-serif;
}
.__info-items span {
    font-weight: bold;
}
.__info-items a {
    text-decoration: none;
    color: #000;
}
.__info-items a:hover {
    transition: all 0.3s;
    opacity: 0.2;
}
.summary {
    text-align: center;
    padding: 30px 0;
}
.about_yourself {
    padding-top: 30px;
    display: flex;
    align-items: center;
    vertical-align: top;
     margin: auto;
     width: 1000px;
}
.about_yourself h3 {
    font: 14px 'Poppins', sans-serif;
}
.title {
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #000;
}

.skills {
    padding: 30px 0;
}
.skills_inf {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.colum {
    margin-right: 50px;
}

/*experionce*/
.portfoleo {
    text-align: center;
    padding: 30px 0;
}
._ptoject {
    padding: 10px 0;
    
}

.link_ptoject p {
    font: 14px 'Poppins', sans-serif; 
    padding-bottom: 5px;
}

.link_ptoject a {
  text-decoration: none;
  color: #000;
  font: 14px 'Poppins', sans-serif; 
}

.link_ptoject a:hover {
    transition: all 0.3s;
    opacity: 0.2;
}

.Education_if {
   text-align: center;
   padding: 30px 0;
}

.Languages {
    padding: 30px 0;
    
}
.Languages_if{
   text-align: center;
   padding: 30px 0;
}
/*footer*/
footer {
    background-color: cadetblue;
    padding: 30px 0;
}
.footer_article {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo_course img{
    width: 150px;
}
.link_git a {
    text-decoration: none;
    font: 20px 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.link_git a:hover {
    transition: all 0.3s;
    opacity: 0.2;
}

.year_create_app p{
    color: rgb(255, 255, 255);
    font: 20px 'Poppins', sans-serif;
    font-weight: bold;
}